@use "./restaurantCard.scss";
@use "./pagination.scss";
@use "./filterPanel.scss";
@use "./sortingPanel.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Uber Move Text', sans-serif;                                                
    h1 {
        place-self: center;
    }
    background-color: #fffefe;
}

.container {
  margin: 0 60px;
}

h1 {
  color: #34ab87;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
